body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background-color: grey !important; */
  background-image: url("https://triptokyrgyzstan.com/sites/default/files/styles/hero_large/public/media/image/6072434479_9aa508e304_b_0.jpg.webp?itok=h0YkU04J");
  background-size: cover;
  /* opacity: 0.4; */
  /* filter: alpha(opacity=40); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
